@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #6c35de;
  --bg-color: #fff;
  --text-color: #333333;
  --hover: #a364ff;

  --big-font: 2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}

.profession {
  display: flex;
  align-items: center;
}
.input-cursor {
  display: inline-block;
  width: 2px;
  height: 16px;
  background-color: #0f0c27;
  margin-left: 8px;
  animation: blink 0.6s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

section {
  padding: 50px 10%;
}
body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

body {
  --sb-track-color: #e2e2e2;
  --sb-thumb-color: #7a7a7a;
  --sb-size: 19px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 1.3rem 10%;
  transition: 0.2s;
}
header.shadow {
  box-shadow: 0 0 1rem rgb(14 55 54 / 15%);
}

.logo {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
  font-family: "Allura", cursive;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  color: var(--hover);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  font-size: 22px;
  cursor: pointer;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}
.home-img {
  order: 3;
}

.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}
.home-text h1 {
  font-size: var(--big-font);
  color: transparent;
  color: var(--main-color);
}
.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}
.social a {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--text-color);
}
.social a:hover,
.social a > img:hover {
  color: var(--hover);
  fill: var(--main-color) !important;
}
.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}
.btn:hover {
  background: var(--hover);
}

.scroll-down a {
  display: flex;
  align-items: center;
  font-size: 1rem !important;
  color: var(--text-color);
}
.scroll-down .bx {
  color: var(--main-color);
  font-size: 24px !important;
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: var(--medium-font);
}
.heading span {
  font-size: var(--p-font);
}

#about {
  padding: 2rem !important;
}
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.about-img img {
  width: 100%;
  border-radius: 0.5rem;
  height: 100%;
  background-color: var(--main-color);
  object-fit: cover;
}
.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  word-spacing: 12px;
}
#Download-CV {
  margin-top: 20px;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}
.skills-img img {
  width: 80%;
  padding-left: 4rem;
  object-position: center;
}
.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.bars-box h3,
span {
  font-size: 1.1rem;
  font-weight: 500;
}
.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: hsla(260, 100%, 44%, 0.4);
  border-radius: 0.5rem;
}
.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background: var(--main-color);
  border-radius: 0.5rem;
}
.html-bar {
  width: 94%;
}
.css-bar {
  width: 84%;
}
.js-bar {
  width: 74%;
}
.react-bar {
  width: 80%;
}
#services {
  padding: 1.3rem 0 !important;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: start;
  gap: 1rem;
}
.services-box {
  padding: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}
.services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}
.services-box .bx {
  font-size: 24px;
  color: var(--main-color);
}
.services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}

#projects {
  padding: 2rem;
}

.projectsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  gap: 2rem;
}

.project {
  width: 490px;
  background-color: #e2e2e2;
  border-radius: 1rem;
  padding: 1rem;
}

.projectImg {
  width: 100%;
  padding: 0;
  border-radius: 12px;
}

.project-info {
  padding-top: 1rem;
}

.project-info > div:nth-child(1) {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
form input,
textarea {
  padding: 12px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: hsla(260, 100%, 44%, 0.1);
  margin-bottom: 1rem;
  color: var(--text-color);
}
form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
form textarea {
  resize: none;
  height: 200px;
}
.contact-button {
  width: 80px;
  cursor: pointer;
  background: var(--main-color);
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contact-button:hover {
  background: var(--hover);
}
.footer {
  display: grid;
  place-items: center;
  padding: 50px;
  background: var(--main-color);
  color: #fff;
}
.footer h2 {
  font-size: var(--medium-font);
  margin-bottom: 1.4rem;
}
.footer-social a {
  color: #fff;
  font-size: 22px;
  padding: 10px;
}
.copyright {
  padding: 20px;
  background: var(--main-color);
  text-align: center;
  color: #fff;
}

#skills {
  padding: 4rem;
}

.skills-content {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1rem;
}

.skill-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  flex-wrap: wrap;
}

.skill-group > .skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  background-color: #e0e0e0b9;
  border-radius: 0.8rem;
  cursor: pointer;
}

.skillName {
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 1rem;
}

.skill-group-name {
  font-weight: 800;
  margin-bottom: 1rem;
}
/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  :root {
    --big-font: 2rem;
    --medium-font: 1.4rem;
  }
}

@media (max-width: 1334px) {
  .skill-group {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1110px) {
  .skill-group {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 880px) {
  #skills {
    padding: 1rem;
  }
}

@media (max-width: 770px) {
  .skill-group {
    grid-template-columns: 1fr 1fr;
  }
  #skills {
    padding: 4rem;
  }
}

@media (max-width: 640px) {
  .skill-group {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .skillName {
    display: none;
  }
}

@media (max-width: 340px) {
  #skills {
    padding: 1rem;
  }
}

@media (max-width: 1382px) {
  .services-box h3 {
    font-size: 0.8rem;
  }

  .services-box {
    padding: 1rem 0;
    width: 160px;
  }

  .services-content {
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  }
}

@media (max-width: 768px) {
  :root {
    --big-font: 2rem;
    --medium-font: 1.2rem;
  }
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .scroll-down {
    display: none;
  }
  .home {
    grid-template-columns: 3fr;
  }
  .home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }
  .home-img {
    order: initial;
    width: 100%;
    display: inline-flex;
  }

  .home-img > img {
    margin-right: auto;
    margin-left: auto;
  }

  .skills-container {
    grid-template-columns: 1fr;
  }
  .skills-img img {
    padding-left: 0;
  }
  .skills-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .home {
    column-gap: 0;
    row-gap: 2rem;
  }
}
@media (max-width: 1327px) {
  .about-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.3fr;
  }
  .about-img {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  .home-text span {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .information .info-box span {
    font-size: 1rem;
  }
  .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .contact-form form {
    width: auto;
  }
}

@media (max-width: 590px) {
  .home-text > h1 {
    font-size: calc(var(--medium-font) + 0.34rem);
  }

  .home-text > h2 {
    font-size: 1rem;
  }
}
